<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row m-5">
  <div class="col">
    <div class="mb-3">
      <%= form.label :"Task Name", style: "display: block" %>
      <%= form.text_field :title,placeholder:"Task Name" %>
    </div>

     <div class="mb-3">
      <%= form.label :"story_point (1sp = 1hr)" , style: "display: block" %>
      <%= form.text_field :story_point ,placeholder:1%>
    </div>

    <div class="mb-3">
      <%= form.label :task_type, style: "display: block" %>
      <%= form.text_field :task_type, placeholder:"Task"%>
    </div>

    <div class="mb-3">
      <%= form.label :due_date, style: "display: block" %>
      <%= form.date_field :due_date %>
    </div>
  </div>
    <div class="col">
      <div class="mb-3">
        <%= form.label :status, style: "display: block" %>
        <%= form.collection_select :status, Phase.all, :title, :title %>
      </div>


      <div class="mb-3">
        <%= form.label :start_date, style: "display: block" %>
        <%= form.date_field :start_date %>
      </div>

      <div class="mb-3">
        <%= form.label :"select member: +", style: "display: block" %>
        <%= form.collection_select :select_member,User.all, :fullname,:fullname,{},{}%>
      </div>

      <div class="mb-3">
      <%= form.label :description, style: "display: block" %>
      <%= form.text_area :description , placeholder:"Description"%>
    </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <%= form.label :task_dependency, style: "display: block" %>
        <%= form.text_field :task_dependency,placeholder:"Task Dependency" %>
      </div>

      <div class="mb-3">
        <%= form.label :end_date, style: "display: block" %>
        <%= form.date_field :end_date  %>
      </div>


      <div class="mb-3">
        <%= form.label :"Task Priority", style: "display: block" %>
        <%= form.text_field :priority %>
      </div>
  </div>
  
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Create Task</button>
    </div>
  </div>
<% end %>
