 <div class="d-flex flex-column justify-content-center align-items-center border shadow-sm p-5" >
<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title ,placeholder:"Enter Title"%>
  </div>

  <div class="mb-3">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description,placeholder:"Enter description" %>
  </div>

  <div class="mb-3">
    <%= form.label :status, style: "display: block" %>
    <%= form.collection_select :status, Phase.all, :title, :title %>
  </div>

  <div class="mb-3">
    <%= form.label :due_date, style: "display: block" %>
    <%= form.date_field :due_date %>
  </div>

  <div class="mb-3 d-flex align-items-center justify-content-between" >
    <div >
          <%if @new==true%>
          <%= link_to "Back", root_url%>
          <%else%>
          <%=link_to "Back", project_url(:id=>project.id)%>
          <%end%>
    </div>
    <button type="submit" class="btn btn-primary">
    <%if @edit==true%> 
    <%="Update "%>
    <%else%>
    <%="Create "%>
    <%end%>
    project
    </button>
  </div>
<% end %>
</div>
