<!DOCTYPE html>
<html>
  <head>
    <title>CapstoneProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class=" bg-light">
   
    
    <div class="d-flex flex-row bg-secondary justify-content-between">
        <div >
            <p><i class="bi bi-list"></i></p>
        </div>
        <div>
            <span>Welcome <strong>
            <%if user_signed_in?%>
            <%=current_user.fullname%>
            <%end%>
            !</strong></span>
            <i class="bi bi-star-fill"></i>
           <i class="bi bi-chat-fill"></i>
            <i class="bi bi-bell-fill"></i>
        </div>
    </div>
    <%= yield %>
    <p class="login"><%= notice %></p>
       <p class="alert"><%= alert %></p>

        <%if user_signed_in?%>
      <%=button_to "sign out", destroy_user_session_path, method: :delete%>
      
    <%end%>
  </body>
</html>
